@page "/"

<div class="mb-4">
    <MudText Typo="Typo.h4" Style="">Dashboard</MudText>
    <MudBreadcrumbs Items="_breadCrumbItems" Class="pa-0" Style="font-size: small; font-weight:500;">
    </MudBreadcrumbs>
</div>

@code {
    private List<BreadcrumbItem> _breadCrumbItems = new List<BreadcrumbItem>
                                                    {
        new BreadcrumbItem("Home", href: "/", disabled : true)
                                                    };
}